@using BusinessLayer.Models.DTO;
@model DrinkViewModel

@{
    ViewData["Title"] = "Home Page";
    DrinkDto drink = Model.Drink;
}

<section class="pt-0">
    <div class="d-flex align-items-center">
        <div class="col-6">
            <img src="https://source.unsplash.com/u8Jn2rzYIps/900x900" class="card-img" alt="...">
        </div>
        <div class="col-6 card-body">
            <div class="d-flex align-items-center justify-content-between">
                <div class="align-self-baseline">
                    <h5 class="card-title text-black fs-2">@drink.Name</h5>
                    <span class="card-title text-primary fs-4">@drink.Tag.Name | @drink.Flavour.Name</span>
                </div>
                <div>
                    <span class="card-text text-muted fs-6 mx-2">@@Kanoknartganlaya</span>
                    <img src="https://source.unsplash.com/u8Jn2rzYIps/900x900" class="img-profile-thumb rounded-circle " alt="...">
                </div>
            
            </div>
            <div class="my-5">
                <p class="fs-5">
                    @drink.Description
                </p>
            </div>
            <div class="">
                <button class=" fs-3 btn h-100">
                    <i class="fa-regular fa-heart"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column Justify-items-center my-5">
        <div class="row my-3">
            <div class="d-flex align-items-center justify-content-center gap-3 text-primary fs-3 col-3">
                <i class="fa-solid fa-circle-minus"></i>
                <div class="">
                    <span class="me-2">1</span>
                    <span>DRINK</span>
                </div>
                <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div class="d-flex align-items-center gap-2 col-3">
                <span class="fs-3 text-primary">Glas: </span>
                <span class="fs-4">@drink.Recipe.Glass.Name</span>
            </div>
            <div class="d-flex align-items-center gap-2 col-6">
                <span class="fs-3 text-primary">Redskap: </span>
                @foreach (var util in drink.Recipe.Equipment)
                {
                
                    <span class="fs-4">@util.Name</span>
                    
                }
            </div>
        </div>


        <div class="d-flex flex-column my-4 gap-5">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex flex-column gap-2">
                        <h3 class="fs-4">Ingridienser</h3>
                        @foreach (var measurement in drink.Recipe.Measurements)
                        {
                            <div class="row">
                                <div class="col-3">
                                    <p class="fs-5">@(measurement.Amount != 0 ? measurement.Amount : "-") @measurement.Unit.Name</p>
                                </div>
                                <div class="col-9">
                                    <p class="fs-5">@measurement.Ingridient.Name</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column gap-2">
                        <h3 class="fs-4">Gör så här</h3>
                        <div class="d-flex flex-column gap-2">
                            @for (int i = 0; i < drink.Recipe.Instructions.Count; i++)
                            {
                                var instruction = drink.Recipe.Instructions[i];
                                <p class="fs-5">@instruction.Position. @instruction.Description</p>
                            }
                        </div>
                    </div>
                </div>
                    
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="d-flex flex-column gap-2">
                        <h3 class="fs-4">Garnering</h3>
                        <p class="fs-5">@drink.Recipe.Garnish</p>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</section>

