@using BusinessLayer.Models.DTO;
@inject IConfiguration configuration;
@model DrinkPreviewViewModel

@{
    ViewData["Title"] = "Skapa recept - Granska";
}

<section class="confirm-container container mx-auto bg-white dark:bg-gray-900" id="@Model.Drink.Id">
    <div class="py-8 px-4 mx-auto md:max-w-6xl lg:py-16">
        <form asp-controller="drink" asp-action="preview" method="post">
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Skapa recept - Granska</h2>

            <div class="gap-4 sm:grid sm:grid-cols-2 xl:grid-cols-3 sm:gap-6 sm:mb-2">
                <div class="mb-4 space-y-4 xl:col-span-2 self-center relative ">
                    <input asp-for="DrinkPublishDto.DrinkId" value="@Model.Drink.Id" class="hidden"/>
                    <div class="confirm-blur grid grid-cols-2 gap-2 blur">
                        <div class="confirm-input">
                            <input disabled type="radio" asp-for="DrinkPublishDto.ImageId" id="0" value="" class="hidden peer" required>
                            <label for="0" class="inline-flex items-center justify-between w-full bg-white border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600">
                                <img class="h-auto max-w-full rounded-lg" src="https://source.unsplash.com/u8Jn2rzYIps/900x900" alt="">
                            </label>
                        </div>
                        <div class="confirm-input">
                            <input disabled type="radio" asp-for="DrinkPublishDto.ImageId" id="1" value="" class="hidden peer" required>
                            <label for="1" class="inline-flex items-center justify-between w-full bg-white border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600">
                                <img class="h-auto max-w-full rounded-lg" src="https://source.unsplash.com/u8Jn2rzYIps/900x900" alt="">
                            </label>
                        </div>
                        <div class="confirm-input">
                            <input disabled type="radio" asp-for="DrinkPublishDto.ImageId" id="2" value="" class="hidden peer" required>
                            <label for="2" class="inline-flex items-center justify-between w-full bg-white border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600">
                                <img class="h-auto max-w-full rounded-lg" src="https://source.unsplash.com/u8Jn2rzYIps/900x900" alt="">
                            </label>
                        </div>
                        <div class="confirm-input">
                            <input disabled type="radio" asp-for="DrinkPublishDto.ImageId" id="3" value="" class="hidden peer" required>
                            <label for="3" class="inline-flex items-center justify-between w-full bg-white border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600">
                                <img class="h-auto max-w-full rounded-lg" src="https://source.unsplash.com/u8Jn2rzYIps/900x900" alt="">
                            </label>
                        </div>
                    </div>

                    <div role="status" class="confirm-spinner absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2">
                        <svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" /><path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" /></svg>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="mb-4 space-y-4 xl:col-span-2 self-center">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">@Model.Drink.Name</h2>
                    <p class="mb-4 text-xl tracking-tight font-extrabold text-purple-600 dark:text-white">@Model.Drink.Tag?.Name | @Model.Drink.Flavour?.Name</p>
                    <p class="my-4">@Model.Drink.Description</p>
                    <i class="fa-regular fa-heart text-2xl"></i>
                </div>
                <div class="mb-4 space-y-4 input-multi-container">
                    <label for="add-guests" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingridienser</label>
                    <div class="input-multi-list flex-column space-y-2">
                        @foreach (var ing in Model.Drink.Recipe.Measurements)
                        {
                            <div class="flex">
                                <div class="w-12 ">
                                    <p class="tracking-tight font-bold text-purple-600 dark:text-white">@ing.Amount</p>
                                </div>
                                <div class="w-24">
                                <p class="tracking-tight font-bold dark:text-white">@ing.Unit.Name</p>
                                </div>
                                <div class="w-60">
                                    <p class="tracking-tight dark:text-white">@ing.Ingridient.Name</p>
                                </div>
                            </div>
                        }
                    </div>           
                </div>
                <div class="mb-4 space-y-4 input-multi-container">
                    <label for="add-guests" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Instruktioner</label>
                    <div class="input-multi-list flex-column space-y-2">
                        @for (int i = 0; i < Model.Drink.Recipe.Instructions.Count; i++)
                        {
                            var ins = Model.Drink.Recipe.Instructions[i];
                            <div class="flex">
                                <div class="w-12 ">
                                    <p class="tracking-tight font-bold text-purple-600 dark:text-white">@(i+1)</p>
                                </div>
                                <div class="w-auto">
                                    <p class="tracking-tight dark:text-white">@ins.Description</p>
                                </div>
                            
                            </div>
                        }
                    </div>
                </div>

                <div class="mb-4 space-y-4 input-multi-container">
                    <label for="add-guests" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Utrustning</label>
                    <div class="input-multi-list flex-column space-y-2">
                        <div class="flex">
                            @foreach (var tool in Model.Drink.Recipe.Equipment)
                            {
                                <p class="tracking-tight dark:text-white">@tool.Name &nbsp;</p>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button disabled type="submit" class="confirm-submit text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    välj en bild
                <button>
            </div>
        </form>
    </div>
</section>

<script>
    const id = document.querySelector(".confirm-container").id;
    const spinner = document.querySelector(".confirm-spinner");
    const blurContainer = document.querySelector(".confirm-blur");
    const buttonSubmit = document.querySelector(".confirm-submit");
    const inputs = document.querySelectorAll(".confirm-input");
    
    function Startup() {
        fetch(`https://localhost:7132/api/GeneratedImage/${id}`)
            .then((resp) => resp.json())
            .then((data) => {
                console.log(data);
                for (let index = 0; index < data.variations.length; index++) {
                    const element = data.variations[index];
                    var confirmInput = inputs[index];
                    console.log(confirmInput)

                    const templateInput = confirmInput.querySelector("input");
                    templateInput.disabled = false;
                    const templateImage = confirmInput.querySelector("img");

                    templateImage.src = element.imageUrl;
                    templateInput.value = element.id;

                    templateImage.addEventListener("click", (event) => {
                        buttonSubmit.textContent = "publicera";
                        buttonSubmit.disabled = false;
                        console.log(event.target)
                    });
                }

                spinner.remove();
                blurContainer.classList.remove("blur");
            })
            .catch((error) => {
                console.log("polling");
                const timeout = 10 * 1000;
                setTimeout(Startup, timeout);
            });
    }

    Startup();
</script>